

<p><br><br>
	This is a web app created for youth transitioning from correctional facilities back into their communities.
<br><br>
	Employment opportunities can reduce the rate of recidivism - however, many youth struggle to find meaningful employment because of their criminal record. As only a small proportion of people who qualify for expungement end up petitioning, this app hopes to educate youth about expungement and connect youth to legal aid.
<br><br>
  The idea for this app came from the awesome Juvenile Justice Council (<a href="https://twitter.com/MCJJustice">@MCJJustice</a>) of the Mikva Challenge.<br>
  <a href="http://www.mikvachallenge.org/site/epage/146561_719.htm">JJC Recommends App for Expungement (Aug 24, 2013)</a><br>

  <br><br><br><br>
	Created by Cathy Deng, Nov 2013
	<br>
	Please don't hesitate to provide feedback! <a href="http://twitter.com/cthydng" target="_blank">@cthydng</a><br>
  Forking welcome: <a href="https://github.com/cathydeng/expunge.io" target="_blank">github</a>

</p>