<div class="page-header">
  <h1>About</h1>
</div>

<p>This is a web app created for people with juvenile records in Illinois.</p>

<p>A juvenile record is a barrier to employment and education. Luckily, juvenile records can be erased through the expungement process. However, while the majority of juvenile records can be erased, <a href="http://chiyouthjustice.wordpress.com/2013/02/04/cook-county-juvenile-expungement-numbers-vs-arrests/">few people apply for juvenile expungement</a>. This web app aims to clarify juvenile expungement, with the hope of more people getting their records erased!</p>

<p>The <a href="http://www.mikvachallenge.org/site/epage/146561_719.htm">idea for this app</a> came from the awesome <a href="https://twitter.com/MCJJustice">Juvenile Justice Council</a> of the <a href="https://twitter.com/MikvaChallenge">Mikva Challenge</a></p>

<div class="well">
  <h5>Interested in learning more about juvenile justice & expungement? Check out these links:</h5>
  <ul>
  	<li><a href="http://www.wbez.org/news/why-it-so-hard-expunge-juvenile-records-cook-county-105257">Why is it so hard to expunge juvenile records in Cook County? (WBEZ)</a></li>
  	<li><a href="http://www.thenation.com/article/177017/boxed-how-criminal-record-keeps-you-unemployed-life">Boxed In: How a Criminal Record Keeps You Unemployed For Life (The Nation)</a></li>
  	<li><a href="https://vine.co/u/1031276355163230208">Expungement vocabulary - explained on Vine</a></li>
  	<li><a href="http://rapgenius.com/Illinois-criminal-justice-information-authority-juvenile-criminal-records-lyrics">Illinois Juvenile Criminal Records - explained on Rap Genius</a></li>
  	<li><a href="https://docs.google.com/file/d/0ByNPZcL7VWcVODVkb20wYU5vOVk/edit">Mikva JJC Full Report 2013</a></li>
  	<li><a href="http://www.illinoislegalaidonline.org/">Illinois Legal Aid Online</a></li>
  </ul>
</div>

