

<p><br><br>
	This is a web app created for youth with juvenile records.
<br><br>
	A juvenile record makes it much more difficult to get a job. The good news is that juvenile records don't have to be permanent, as there exists a process to expunge them. However, only a small proportion of people who qualify for expungement end up petitioning [insert ridiculous stats here]. This app aims to educate folks about expungement and connect youth to legal aid, with the hope of getting everyone who's eligible to expunge their records to do so!
<br><br>
  The idea for this app came from the awesome Juvenile Justice Council (<a href="https://twitter.com/MCJJustice">@MCJJustice</a>) of the Mikva Challenge.<br>
  <a href="http://www.mikvachallenge.org/site/epage/146561_719.htm">JJC Recommends App for Expungement (Aug 24, 2013)</a><br>

  <br><br><br><br>
	Created by Cathy Deng<br>
	Last Updated December 2013
	<br>
	Please don't hesitate to provide feedback! <a href="http://twitter.com/cthydng" target="_blank">@cthydng</a><br>
  Source code on <a href="https://github.com/cathydeng/expunge.io" target="_blank">github</a>

</p>