<h2>About</h2>


<p>This is a resource for people with juvenile records in Illinois.</p>

<p>A juvenile record can be a barrier to employment, education, and housing. Luckily, juvenile records can be erased through the expungement process. However, while the majority of juvenile records can be erased, few people know about or take advantage of the opportunity. Expunge.io seeks to clarify juvenile expungement, with the hope of more people getting their records erased!</p>
<br><hr>
<div class="small">
<p>Expunge.io was designed and developed by <a href="https://twitter.com/cthydng">Cathy Deng</a>, with help from Sharlyn Grace from the <a href="https://www.facebook.com/JuvenileExpungementHelpDesk">LAF juvenile expungement help desk</a>. <a href="https://twitter.com/jazzrenemarcelo">Rene Paccha</a> provided the Spanish translation. The idea for a digital resource came from the <a href="https://twitter.com/MCJJustice">Juvenile Justice Council</a> of the <a href="https://twitter.com/MikvaChallenge">Mikva Challenge</a>, a group of young advocates on a mission to improve the juvenile justice system. A big thanks to Dan O'Neil at <a href="http://www.smartchicagocollaborative.org/">Smart Chicago</a> for initially getting us all connected & for hosting the site.</p>

<p>If you're interested in adapting expunge.io in another state, please <a href="mailto:cathyd125@gmail.com">reach out</a>! All of the code for this project is on <a href="https://github.com/cathydeng/expunge.io">github</a> & open to reuse.</p>
</div>
