

<p><br><br>
	<h4>This is a web app created for youth with juvenile records.</h4>
<br>
	A juvenile record makes it difficult to get a job. The good news is that juvenile records don't have to be permanent, as they can be expunged. However, only a small proportion of people who qualify for expungement end up petitioning [insert ridiculous stats here]. This app aims to educate folks about expungement and connect youth to legal aid, with the hope of getting everyone who's eligible to expunge their records to do so!
<br><br>
  <h4>The <a href="http://www.mikvachallenge.org/site/epage/146561_719.htm">idea for this app</a> came from the awesome <a href="https://twitter.com/MCJJustice">Juvenile Justice Council</a> of the <a href="https://twitter.com/MikvaChallenge">Mikva Challenge</a></h4>

  	<br>

  <br><br><br><br>
	Created by Cathy Deng & hosted by <a href="http://www.smartchicagocollaborative.org/">Smart Chicago</a><br>
	Please don't hesitate to provide feedback! <a href="http://twitter.com/cthydng" target="_blank">@cthydng</a><br>
  Source code on <a href="https://github.com/cathydeng/expunge.io" target="_blank">github</a>

</p>