<h3>Based on your answers, you have an <i>adult</i> record, so you are not eligible for <i>juvenile</i> expungement. However, you may be eligible for adult expungement or sealing - more information <a href="http://www.illinoislegalaid.org/index.cfm?fuseaction=home.dsp_Content&contentID=5201#">here</a>.</h3>
<br>
<h4>For legal assistance with your adult record in Cook County(including Chicago):</h4>
<ol>
	<li>Get a copy of your Chicago Police arrest record (rap sheet) at:<br>
		Records and Services Division of the Chicago Police Department:<br>
		3510 S Michigan, Chicago IL 60653<br>
		(312)745-5508<br>
		Mon-Fri 8am-12pm<br>
		Note: it costs $16 to get your adult rap sheet
		*if you were arrested outside Chicago, contact the police department that arrested you to find out how to get your records
	</li>
	<li>
		Bring your rap sheet to Cabrini Green Legal Aid's Adult Expungement Help Desk:<br>
		Daley Center<br>
		50 W Washington, Room 1006<br>
		Chicago, IL 60602<br>
		Mon, Tues, Wed, Thurs: 9am-12pm<br>
		Thurs: 1pm-4pm<br>
		*you should arrive before 9am or before 1pm to get assistance, since space is limited
	</li>
</ol>
<br>
<h4>For legal assistance with your Illinois adult record outside Cook County: information and forms you can fill out are <a href="http://www.illinoislegalaid.org/index.cfm?fuseaction=home.dsp_Content&contentID=5201#">here</a>.</h4>
<br>
<h4>Need help finding a job?</h4>
	<ul>
		<li><a href="http://www.saferfoundation.org/client-resources/make-an-appointment">Safer Foundation</a>
		<li><a href="http://www.nlen.org">North Lawndale Employment Network</a></li>
		<li><a href="http://xamire.com/felony-friendly/illinois.html">Xamire Felony Friendly Jobs Network</a></li>
		<li><a href="http://m.wikihow.com/Get-a-Job-with-a-Criminal-Record">How to apply for a job</a></li>
	</ul>