<div class="center">

<h2>Based on your answers, it's unclear if you were arrested as a juvenile or as an adult - you will need to get your arrest record (rap sheet) to know for sure. You can still continue through these questions.</h2>
<br>

<%= link_to("Continue", qa_path, :method => "get", :class => "btn btn-large")%>

</div>