<div class="center">

<h2>How old were you when you were arrested?</h2>

<a href="/juvrecord" class="btn btn-success">16 & under</a>
<a href="/yeararrested" class="btn btn-success">17</a>
<a href="/notjuv" class="btn btn-danger">18 & over</a><br><br>
<a href="/notsure" class="btn btn-default">I'm not sure</a>

</div>