<div class="center">

<h2>How old were you when you were arrested?</h2>


<%= link_to("16 & under", juvrecord_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("17", yeararrested_path, :method => "get", :class => "btn btn-large") %>
<%= link_to("18 & over", notjuv_path, :method => "get", :class => "btn btn-large") %>
<br><br>
<%= link_to("I'm not sure", notsure_path, :method => "get", :class => "btn btn-large") %>

</div>