<div class="center">

<h2>DISCLAIMER</h2>
<p>This site intends to be helpful in clarifying expungement, but <i><b>does not serve as a substitute for legal aid</b></i>. To ensure that there is no misunderstanding, it's a good idea to speak with a lawyer - there are lawyers who are eager to help you, for free!<br><br>


<%= link_to("OK, I understand. Let's get started!", q1_path, :method => "get", :class => "btn btn-large")%>

</div>