<h2>You are eligible to apply for expungement under subsection 2</h2><br><br>

<div id="wufoo-s1hgjxq21xnxfsu">
Fill out my <a href="https://smartchicago2012.wufoo.com/forms/s1hgjxq21xnxfsu">online form</a>.
</div>
<script type="text/javascript">var s1hgjxq21xnxfsu;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'smartchicago2012', 
'formHash':'s1hgjxq21xnxfsu', 
'autoResize':true,
'height':'480',
'async':true,
'host':'wufoo.com',
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { s1hgjxq21xnxfsu = new WufooForm();s1hgjxq21xnxfsu.initialize(options);s1hgjxq21xnxfsu.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
<p>After you submit this form, a lawyer from LAF Chicago will contact you as soon as they can. They will look into your record to confirm that you are eligible for expungement, and then they will guide you through the rest of the petitioning process!</p>