


    	<p><br><br>
    		Q: Does expungement cost money?<br>
    		A:
    		<br><br>
    		Q: How long does the process take?<br>
    		A:
    		<br><br>
    		Q: After I find out I am eligible to apply for expungement, what do I do?<br>
    		A:
    		<br><br>
    		Q: What does it mean to expunge a criminal record? <br>
    		A:
    		<br><br>
    		Q: <br>
    		A:
    		<br><br>






    	</p>