<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", :action => "index" %></li>
      <li><%= link_to "About", :action => "about" %></li>
      <li><%= link_to "FAQs", :action => "FAQ" %></li>
      <li><%= link_to "Links", :action => "link" %></li>
    </ul>
    <div><br><div>

</nav>


    	<p><br><br>
    		Q: Does expungement cost money?<br>
    		A:
    		<br><br>
    		Q: How long does the process take?<br>
    		A:
    		<br><br>
    		Q: After I find out I am eligible to apply for expungement, what do I do?<br>
    		A:
    		<br><br>
    		Q: What does it mean to expunge a criminal record? <br>
    		A:
    		<br><br>
    		Q: <br>
    		A:
    		<br><br>






    	</p>