


    	<p><br>
            <div id="FAQq">After I find out I am eligible to apply for expungement, what do I have to do?</div>
            Remember that free legal aid is available to help you complete the process! Use it! To petition for expungement, you will need to:
            <ol>
            <li> Get a copy of your RAP sheet</li>
            <li> Fill out a petition form</li>
            <li> Submit your petition to the appropriate court</li>
            </ol>
            <br>
    		<div id="FAQq">How much does expungement cost?</div>
    		It costs $64 to expunge a single arrest. However, many people qualify for a fee waiver that makes expungement free.
    		<br><br>
    		<div id="FAQq">How long does the process take?</div>
    		Usually, a court date is scheduled about 1.5 months from the petition date. After the a judge approves the petition on the court date, it takes about 2 months for the police to erase records. So, 3.5 months total.
    		<br><br>
            <div id="FAQq">After I petition for expungement, what are the chances that my petition will be approved?</div>
            Whether your petition is approved is up to the judge. However, in the past, <a href="http://chiyouthjustice.wordpress.com/2013/02/04/cook-county-juvenile-expungement-numbers-vs-arrests/">almost all</a> petitions have been approved.
            <br><br>
    		






    	</p>