<div class="page-header">
    <h2>Frequently Asked Questions</h2>
</div>


<div class="panel-group" id="q1">
  <div class="panel panel-default">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#q1" href="#collapse1">
      <h4>
        <i class="fa fa-chevron-circle-right fa-lg plusminus"></i>
        Is my juvenile record a criminal conviction?
      </h4>
      <div class='clearfix'></div>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          No, a juvenile record is not a criminal conviction, even if you were "found guilty" in juvenile court. In Illinois, you cannot be convicted of a crime in juvenile court, because juvenile court is separate from (adult) criminal court.
        </p>
        <p>
          If a job application asks you about criminal convictions, you should not reveal your juvenile record. If you think a job has seen your juvenile record, contact the Juvenile Expungement Help Desk at 312-229-6359.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="q2">
  <div class="panel panel-default">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#q2" href="#collapse2">
      <h4>
        <i class="fa fa-chevron-circle-right fa-lg plusminus"></i>
        After I find out I am eligible to apply for juvenile expungement in Illinois, what do I have to do?
      </h4>
      <div class='clearfix'></div>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          Remember that <a href="/legalaid">free legal help</a> is available to help you complete the process! Use it! To petition for juvenile expungement, you will need to:
          <ol>
            <li> Get a copy of your RAP sheet</li>
            <li> Fill out a petition form</li>
            <li> Submit your petition to the appropriate court</li>
          </ol>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="q3">
  <div class="panel panel-default">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#q3" href="#collapse3">
      <h4>
        <i class="fa fa-chevron-circle-right fa-lg plusminus"></i>
        How do I get my RAP sheet?
      </h4>
      <div class='clearfix'></div>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>You can pick it up at the juvenile expungement help desk. <a href="/step2">Click here for instructions</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="q4">
  <div class="panel panel-default">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#q4" href="#collapse4">
      <h4>
        <i class="fa fa-chevron-circle-right fa-lg plusminus"></i>
        How much does juvenile expungement cost?
      </h4>
      <div class='clearfix'></div>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          It costs $124 to expunge a single arrest, plus an extra $64 for each additional arrest - this includes filing fees (to the court) and the expungement fee (to the IL state police). However, many people qualify for a fee waiver that makes expungement free.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="q5">
  <div class="panel panel-default">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#q5" href="#collapse5">
      <h4>
        <i class="fa fa-chevron-circle-right fa-lg plusminus"></i>
        How long does the process take?
      </h4>
      <div class='clearfix'></div>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          Usually, a court date is scheduled about 1.5 months from the petition date. After a judge approves the petition on the court date, it takes about 2 months for the police to erase records. So, 3.5 months total. If necessary, expungement can be expedited to about 2.5 months total.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="q6">
  <div class="panel panel-default">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#q6" href="#collapse6">
      <h4>
        <i class="fa fa-chevron-circle-right fa-lg plusminus"></i>
        After I petition for juvenile expungement, what are the chances that my petition will be approved?
      </h4>
      <div class='clearfix'></div>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          Whether your petition is approved is up to the judge. However, in the past, <a href="http://chiyouthjustice.wordpress.com/2013/02/04/cook-county-juvenile-expungement-numbers-vs-arrests/">almost all</a> petitions have been approved.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="well">
  <h4>Interested in learning more about juvenile justice & expungement? Check out these links:</h4>
  <ul>
    <li><a href="http://www.illinoislegalaid.org/index.cfm?fuseaction=home.dsp_Content&contentID=7064#">Illinois Legal Aid Online</a></li>
    <li><a href="http://rapgenius.com/Illinois-criminal-justice-information-authority-juvenile-criminal-records-lyrics">Illinois Juvenile Criminal Records - explained on Rap Genius</a></li>
    <li><a href="https://vine.co/u/1031276355163230208">Expungement vocabulary - explained on Vine</a></li>
    <li><a href="https://docs.google.com/file/d/0ByNPZcL7VWcVODVkb20wYU5vOVk/edit">Mikva JJC Full Report 2013</a></li>
  </ul>
</div>

<script>
  $(document).ready(function() {
    $(".plusminus").parent().parent().click(function () {
      if ($(this).hasClass("collapsed")){
        $(this).find('i').removeClass("fa-chevron-circle-right").addClass("fa-chevron-circle-down");
      } else{
        $(this).find('i').removeClass("fa-chevron-circle-down").addClass("fa-chevron-circle-right");
      }
    });
  });
</script>