


    	<p><br><br>
            Q: After I find out I am eligible to apply for expungement, what do I do?<br>
            A: Remember that free legal aid is available to help you complete the process! Use it! To petition for expungement, you will need to:
            <ol>
            <li> Get a copy of your RAP sheet</li>
            <li> Fill out a petition form</li>
            <li> Submit your petition to the appropriate court</li>
            </ol>
            <br>
    		Q: Does expungement cost money?<br>
    		A: It costs $64 to expunge a single arrest. However, many people qualify for a fee waiver that makes expungement free.
    		<br><br>
    		Q: How long does the process take?<br>
    		A: Usually, a court date is scheduled about 1.5 months from the petition date. After the a judge approves the petition on the court date, it takes about 2 months for the police to erase records. So, 3.5 months total.
    		<br><br>
    		






    	</p>