


    	<p><br><br>
    		Q: Does expungement cost money?<br>
    		A: It costs $64 to expunge a single arrest. However, many people qualify for a fee waiver that makes expungement free.
    		<br><br>
    		Q: How long does the process take?<br>
    		A: Usually, a court date is scheduled about 1.5 months from the petition date. After the a judge approves the petition on the court date, it takes about 2 months for the police to erase records.
    		<br><br>
    		Q: After I find out I am eligible to apply for expungement, what do I do?<br>
    		A: 
    		<br><br>
    		Q: What does it mean to expunge a criminal record? <br>
    		A: 
    		<br><br>
    		Q: <br>
    		A: 
    		<br><br>






    	</p>