<div class="page-header">
  <h1>Welcome to Expunge.io for Illinois</h1>
</div> 

<div id="big-text">
    <br><p>If you were arrested when you were 18 or younger, you have a juvenile record that does not go away on its own.</p>
    <p>The good news: most juvenile records can be erased through a process called <b>juvenile expungement!</b></p>
</div>

<br>
<p class="eligibility"><%= link_to("I was arrested as a teenager in Illinois. Can I erase my juvenile record?", disclaimer_path, :method => "get", :class => "btn btn-large") %></p>
<br>

