<div class="page-header">
  <h1>Welcome to Expunge.io for Illinois</h1>
</div> 

<div class="row" id="big-text">
  <div class="span9">
    <p><br>Every year, <i>thousands</i> of youth in IL are arrested before they turn 18. Were you one of them?</p>
	<div>
      <br>
      <h2>If so, then you have a juvenile record.</h2>
    </div>
  </div>
  
  <div class="span3">
    <%= image_tag 'cop.png' %>
  </div>
  
</div>



<div class="row" id="medium-text">
  <br>
  <div class="span2">
    <%= image_tag 'caution_icon.png' %>
  </div>
  <div class="span10">
    <br>
    <p>Even if nothing happened after your arrest, the record is still there, and it will not go away on its own. Unfortunately, a juvenile record can hold you back for years to come.</p>
  </div>
</div>

<div id="big-text">
<p><br>But, there's good news: you may be able to erase your juvenile record through a process called juvenile expungement.</p>
</div>

<div id="medium-text">
 <p><br>Juvenile expungement can remove barriers to employment, education, and housing. Most juvenile records can be expunged, and not enough people take advantage of the opportunity!</p>
 <p><br>Expunge.io can help you figure out if you are able to erase your juvenile record.</p>
</div>



<p class="eligibility"><%= link_to("I have a juvenile record in Illinois - can I expunge it?", disclaimer_path, :method => "get", :class => "btn btn-large") %></p>
<br>
<p>Note: If you have an arrest or court record outside of Illinois, try searching the web to learn about expungement eligibility in your state - it can really pay off!</p>
