


<br>
<h3>What is expungement, anyways?</h3>
<p id="q">Expungement is a process that legally erases a criminal record.</p><br>

<h3>Why should I care?</h3>
<p id="q">EMPLOYMENT! Expungement can help your chances of finding a job.</p><br>

  
<div style="padding:30px;">  



<%= link_to("I want to know if I am eligible to petition for expungement in Illinois!", disclaimer_path, :method => "get", :class => "btn btn-large") %>


<!-- -->

</div>

<p>
	Note: This web app only applies to juvenile records in Illinois. If you have a juvenile record in another state, try looking up the expungement process in your state.</p>
