<div class="page-header">
  <h1><%= I18n.t("questions.index.welcome_to_expungeio_for_illinois", :default => "Welcome to Expunge.io for Illinois") %></h1>
</div>

<div class="row" id="big-text">
  <div class="span9">
    <p><br>Every year, <i>thousands</i> of youth in IL are arrested before they turn 18. Were you one of them?</p>
  </div>

  <div class="span3">
    <%= image_tag 'cop.png' %>
  </div>



</div>

<div>
  <h2>If so, then you have a juvenile record.</h2>
</div>


<div class="row" id="medium-text">
  <br>
  <div class="span2">
    <%= image_tag 'caution_icon.png' %>
  </div>
  <div class="span8">
    <p>Even if nothing happened after your arrest, the record is still there, and it will not go away on its own. Unfortunately, a juvenile record can hold you back for years to come.</p>
  </div>
</div>

<div id="big-text">
  <p><br>But, there's good news: Most juvenile records can be erased through a process called juvenile expungement!</p>
</div>


<p class="eligibility"><%= link_to("If you have a juvenile record in Illinois, click here to check if you can erase it!", disclaimer_path, :method => "get", :class => "btn btn-large") %></p>
<br>
