<div class="page-header">
  <h1>Welcome to <span id="match-topbar-text"><%= I18n.t("questions.index.expungeio", :default => "expunge.io") %></span> for Illinois</h1>
</div>

<div id="medium-text">
  <p><%= I18n.t("questions.index.if_you_were_arrested_when_you_were_18_or_younger_you_have_a_juvenile_record_that_does_not_go_away_on_its_own", :default => "If you were arrested when you were 18 or younger, you have a juvenile record that does not go away on its own.") %></p>
  <p>The good news: most juvenile records can be erased through a process called <b><%= I18n.t("questions.index.juvenile_expungement", :default => "juvenile expungement!") %></b></p>
</div>

<br>
<div>

  <%= init_proceed_button(I18n.t("questions.index.i_was_arrested_as_a_teenager_in_illinois_can_i_erase_my_juvenile_record", :default => "I was arrested as a teenager in Illinois. Can I erase my juvenile record?")) %>

</div>
<br>
