<div class="page-header">
  <h1>Welcome to Expunge.io</h1>
</div>

<div class="question">
  <h3>So, what's juvenile expungement?</h3>
  <p>Juvenile expungement is a process that erases an arrest and/or court records.</p>
</div>

<div class="question">
  <h3>What is on a juvenile record?</h3>
  <p><ol>
  	<li>ALL arrests (even if you were never charged) before you turn 17</li>
  	<li>Almost all arrests before you turn 18</li>
  	<li>Any juvenile court cases before you turn 18</li>
  </p>
</div>

<div class="question">
  <h3>How can expungement help me?</h3>
  <p>Expungement can make it easier to get a job! Expungement can also remove barriers to school admission, housing, professional licenses and military service.</p>
</div>

<div class="question">
  <h3>How do I expunge my records?</h3>
  <p>For each arrest or court record, you will need to petition to expunge it. This tool can help you figure out if you are eligible to expunge a particular arrest or court record</p>
</div>

<p class="eligibility"><%= link_to("I have an arrest record or court record, and I want to know if I'm eligible to expunge it", disclaimer_path, :method => "get", :class => "btn btn-large") %></p>