<div class="page-header">
  <h1>Welcome to Expunge.io</h1>
</div>

<div class="question">
  <h3>So, what's juvenile expungement?</h3>
  <p>Juvenile expungement is a process that makes juvenile records "off-limits" to employers and to the public.</p>
</div>

<div class="question">
  <h3>What is on a juvenile record?</h3>
  <p>Any arrest before you turn 17 (even if you were never charged) will show up on a juvenile record.</p>
</div>

<div class="question">
  <h3>How can expungement help me?</h3>
  <p>Expungement can make it easier to get a job! Expungement can also remove barriers to school admission, housing, professional licenses and military service.</p>
</div>

<p class="eligibility"><%= link_to("I've had a juvenile arrest and I want to know if I'm eligible for expungement", disclaimer_path, :method => "get", :class => "btn btn-large") %></p>