<div class="page-header">
  <h1>Welcome to Expunge.io for Illinois</h1>
</div>

<div class="question">
  <h3>So, what's juvenile expungement?</h3>
  <p>Juvenile expungement is a process that erases an arrest and/or court record.</p>
</div>

<div class="question">
  <h3>What is on a juvenile record?</h3>
  <ol>
  	<li>ALL arrests (even if you were never charged) before you turn 17</li>
  	<li>Almost all arrests before you turn 18</li>
  	<li>Juvenile court cases before you turn 18</li>
  </ol>
</div>

<div class="question">
  <h3>How can juvenile expungement help me?</h3>
  <p>Expungement can make it easier to get a job! Expungement can also remove barriers to school admission, housing, professional licenses and military service.</p>
</div>

<p class="eligibility"><%= link_to("I have a juvenile arrest or court record in Illinois, and I want to know if I can expunge it", disclaimer_path, :method => "get", :class => "btn btn-large") %></p>

<p>Note: If you have an arrest or court record outside of Illinois, try searching the web to learn about expungement eligibility in your state - it can really pay off!</p>