<div class="center">

  <h2><%= I18n.t("questions.juvrecord.based_on_your_answers_you_were_arrested_as_a_juvenile", :default => "Based on your answers, you were arrested as a juvenile.") %></h2>
  <br>

  <%= link_to(I18n.t("questions.juvrecord.continue", :default => "Continue"), qa_path, :method => "get", :class => "btn btn-large")%>

</div>
