<div class="page-header">
  <h1>Legal Aid</h1>
</div>

<h3>
	Contact the <a href="https://www.facebook.com/JuvenileExpungementHelpDesk">Juvenile Expungement Help Desk</a> at (312) 229-6359
</h3>

<p>This is a free service & there are lawyers who are eager to help you!</p>