<div class="page-header">
  <h2>Legal Aid</h2>
</div>

<div class="row">
    <div class="col-sm-6">
        <h3>
        	For free legal help, call Camille!
        </h3>
        <h3>
            <i class="fa fa-phone fa-fw"></i>(312) 229-6359
        </h3>
        <br>
    </div>
    <div class="col-sm-3">
        <div id="camille"></div>
        <br>
    </div>
    <div class="col-sm-3">
        <p>Camille works at the <a href="https://www.facebook.com/JuvenileExpungementHelpDesk">Juvenile Expungement Help Desk</a>. This is a free service & the lawyers are eager to help you!</p>
    </div>
</div>

<br><br><br>

<div class="well">
<p style="margin: 0 0 0 0">
	If you were arrested outside of Cook County: search for your zip code <a href="http://www.illinoislegalaid.org/index.cfm?fuseaction=home.dsp_content&contentID=7064#a=legalhelp">here</a> to find a free legal aid organization in your area.

</p>
</div>
