<div class="page-header">
  <h1><%= I18n.t("questions.legalaid.legal_aid", :default => "Legal Aid") %></h1>
</div>

<h3>
	Cook County: Contact the <a href="https://www.facebook.com/JuvenileExpungementHelpDesk"><%= I18n.t("questions.legalaid.juvenile_expungement_help_desk", :default => "Juvenile Expungement Help Desk") %></a> at (312) 229-6359
</h3>

<p><%= I18n.t("questions.legalaid.this_is_a_free_service_&_there_are_lawyers_who_are_eager_to_help_you", :default => "This is a free service & there are lawyers who are eager to help you!") %></p>

<br>
<h4>
	Other counties: search for your zip code <a href="http://www.illinoislegalaid.org/index.cfm?fuseaction=home.dsp_content&contentID=7064#a=legalhelp"><%= I18n.t("questions.legalaid.here", :default => "here") %></a> and contact the appropriate legal aid organization

</h4>
