<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", :action => "index" %></li>
      <li><%= link_to "About", :action => "about" %></li>
      <li><%= link_to "FAQs", :action => "FAQ" %></li>
      <li><%= link_to "Links", :action => "link" %></li>
    </ul>
    <div><br><div>
</nav>