<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", :action => "index" %></li>
      <li><%= link_to "About", :action => "about" %></li>
      <li><%= link_to "FAQs", :action => "FAQ" %></li>
      <li><%= link_to "Links", :action => "link" %></li>
    </ul>
    <div><br><div>

	<p>
		Mikva Juvenile Justice Council Full Report 2013<br>
		<a href="https://docs.google.com/file/d/0ByNPZcL7VWcVODVkb20wYU5vOVk/edit">What Tools, Policies and Practices Do Youth Need to Positively Transition From Corrections to Community?</a>
		<br><br>
		<a href="http://rapgenius.com/Illinois-criminal-justice-information-authority-juvenile-criminal-records-lyrics">Illinois Juvenile Criminal Records, explained on rap genius</a>







	</p>



</nav>