

	<p><br><br>
		Mikva Juvenile Justice Council Full Report 2013<br>
		<a href="https://docs.google.com/file/d/0ByNPZcL7VWcVODVkb20wYU5vOVk/edit">What Tools, Policies and Practices Do Youth Need to Positively Transition From Corrections to Community?</a>
		<br><br>
		Rap Genius<br>
		<a href="http://rapgenius.com/Illinois-criminal-justice-information-authority-juvenile-criminal-records-lyrics">Illinois Juvenile Criminal Records - explained</a>
		<br><br>
		In the news:<br>
		WBEZ: <a href="http://www.wbez.org/news/why-it-so-hard-expunge-juvenile-records-cook-county-105257">Why is it so hard to expunge juvenile records in Cook County?</a>










	</p>
