<h3>You are not eligible to apply for expungement</h3>
<br>
<h4>However, there are still options for you:</h4>
	<ul>
		<li><a href="http://www.nlen.org">North Lawndale Employment Network</a></li>
		<li><a href="http://xamire.com/felony-friendly/illinois.html">Xamire Felony Friendly Jobs Network</a></li>
		<li><a href="http://m.wikihow.com/Get-a-Job-with-a-Criminal-Record">How to apply for a job</a></li>
	</ul>