<h3>You are not eligible to apply for expungement</h3>
<br>
<h4>However, there are still options for you:</h4>
	<ul>
		<li><a href="http://www.nlen.org">North Lawndale Employment Network</a></li>
		<li><a href="http://xamire.com/felony-friendly/illinois.html">Xamire Felony Friendly Jobs Network</a></li>
		<li><a href="http://m.wikihow.com/Get-a-Job-with-a-Criminal-Record">How to apply for a job</a></li>
	</ul>

<h4>Also, keep in mind:</h4>
	<p>In Illinois, a juvenile record (including those finding delinquency) is NOT considered a criminal conviction. So, if you have a job application asking if you have a criminal history, you are able to answer no.</p>

<h4>If you have any questions, contact legal aid!</h4>