<h3>You are not yet eligible to apply for juvenile expungement, but hold tight - you will be eligible once you have completed supervision.</h3>
<br>
<h4>There are still options for you NOW:</h4>
	<ul>
		<li><a href="http://www.nlen.org">North Lawndale Employment Network</a></li>
		<li><a href="http://xamire.com/felony-friendly/illinois.html">Xamire Felony Friendly Jobs Network</a></li>
		<li><a href="http://m.wikihow.com/Get-a-Job-with-a-Criminal-Record">How to apply for a job</a></li>
	</ul>