<h3>Based on your answers, you are not yet eligible to apply for juvenile expungement, but hold tight - you will be eligible when you are 18 years old.</h3>
<br>
<h4>Remember, your juvenile record is NOT a "criminal record" or "criminal conviction."</h4>
<ul>
	<li>You do not have to reveal your juvenile record on job applications that ask about "criminal convictions" - even if you were found guilty (or pled guilty) in juvenile court.</li>
	<li>Even though your juvenile record can't be expunged yet, it is automatically <i>sealed</i>. Unlike criminal records, which are public, most employers should not be able to see your juvenile record.</li>
	<li>If you are told you didn't get a job and you think your juvenile record was seen and considered, call the Juvenile Expungement Help Desk at 312-229-6359.
	</li>
	<li>If an employer does not hire you because of a background check, they are required to give you a copy of the background check. If an employer does not do that, ask for a copy and call the Juvenile Expungement Help Desk at 312-229-6359.
	</li>
</ul>
