<div class="center">

<h2>Did the arrest result in adjudication or conviction?</h2>


<%= link_to("No", q2_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Yes", q3_path, :method => "get", :class => "btn btn-large") %>

</div>