<div class="center">

  <h2><%= I18n.t("questions.q2.how_old_are_you", :default => "How old are you?") %></h2>


  <%= link_to(I18n.t("questions.q2.18_and_older", :default => "18 & older"), eligible1_path, :method => "get", :class => "btn btn-large")%>
  <%= link_to(I18n.t("questions.q2.under_18", :default => "under 18"), notyet1_path, :method => "get", :class => "btn btn-large") %>


</div>
