<h2>What class was the offense?</h2>

<%= link_to "Traffic offense", :action => "traffic" %>
<%= link_to "Felony", :action => "q5" %>
<%= link_to "Class A Misdemeanor", :action => "q5" %>
<%= link_to "Class C or D Misdemeanor", :action => "q4" %>