<div class="center">

<h2>What class was the offense?</h2>

<button class="btn btn-default"><%= link_to "Traffic offense", :action => "traffic" %></button>
<button class="btn btn-default"><%= link_to "Felony", :action => "q5" %></button>
<button class="btn btn-default"><%= link_to "Class A Misdemeanor", :action => "q5" %></button>
<button class="btn btn-default"><%= link_to "Class C or D Misdemeanor", :action => "q4" %></button>


</div>
