<div class="center">

<h2>What offense were you found delinquent of?</h2>


<%= link_to("Felony", complicated_path, :method => "get", :class => "btn btn-large") %>
<%= link_to("Class A Misdeneanor", complicated_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Class B or C Misdemeanor", q2_path, :method => "get", :class => "btn btn-large") %>

<br><br>
<%= link_to("I'm not sure", notsure_path, :method => "get", :class => "btn btn-large") %>

<br><br>
<h4>Examples of misdemeanors:</h4>

	<div class="row">
		<div class="span4">
			<h5>Class A</h5>
			<ul>
				<li>Battery</li>
				<li>Theft</li>
				<li>Driving under the influence</li>
				<li>Possession of cannabis (10-30 grams)</li>
				<li>Fine up to $2,500</li>
			</ul>
		</div>
		<div class="span4">
			<h5>Class B</h5>
			<ul>
				<li>Battery</li>
				<li>Shoplifting</li>
				<li>Public intoxication</li>
				<li>Trespassing</li>
				<li>Simple assualt</li>
				<li>Possession of cannabis (2.5-10 grams)</li>
				<li>Fine up to $1,500</li>
			</ul>
		</div>
		<div class="span4">
			<h5>Class C</h5>
			<ul>
				<li>Disorderly conduct</li>
				<li>Possession of cannabis (up to 2.5 grams)</li>
				<li>Fine up to $1,000</li>
			</ul>
		</div>
	</div>


</div>
