<div class="center">

<h2>What class was the offense?</h2>



<%= link_to("Traffic offense", traffic_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Felony", q5_path, :method => "get", :class => "btn btn-large") %>
<%= link_to("Class A Misdeneanor", q5_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Class B or C Misdemeanor", q4_path, :method => "get", :class => "btn btn-large") %>


</div>
