<div class="center">

<h2>What offense were you found guilty/delinquent under?</h2>

<a href="/complicated" class="btn btn-success">Felony</a>
<a href="/complicated" class="btn btn-success">Class A Misdemeanor</a>
<a href="/q2" class="btn btn-success">Class B or C Misdemeanor</a>
<br><br><a href="/notsure" class="btn btn-default">I'm not sure</a>

<br><br>
<h4>Examples of misdemeanors:</h4>

	<div class="row">
		<div class="col-xs-4">
			<h5>Class A</h5>
			<ul>
				<li>Battery</li>
				<li>Theft</li>
				<li>Driving under the influence</li>
				<li>Shoplifting (under $300)</li>
				<li>Vandalism (under $300 damage)</li>
				<li>Possession of cannabis (10-30 grams)</li>
			</ul>
		</div>
		<div class="col-xs-4">
			<h5>Class B</h5>
			<ul>
				<li>Public intoxication</li>
				<li>Trespassing</li>
				<li>Possession of cannabis (2.5-10 grams)</li>
			</ul>
		</div>
		<div class="col-xs-4">
			<h5>Class C</h5>
			<ul>
				<li>Simple assualt</li>
				<li>Disorderly conduct</li>
				<li>Possession of cannabis (up to 2.5 grams)</li>
			</ul>
		</div>
	</div>


</div>
