<div class="center">

<h2>How old are you?</h2>


<%= link_to("18 & older", eligible2_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("under 18", notyet1_path, :method => "get", :class => "btn btn-large") %>
</div>