<div class="center">

<h2>How old are you?</h2>

<button class="btn btn-default btn-large"><%= link_to "17 & over", :action => "eligible2" %></button>
<button class="btn btn-default btn-large"><%= link_to "under 17", :action => "notyet1" %></button>

</div>