<div class="center">

<h2><%= I18n.t("questions.q5.was_the_conviction_first_degree_murder", :default => "Was the conviction first degree murder?") %></h2>



<%= link_to("No", q6_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Yes", noteligible_path, :method => "get", :class => "btn btn-large") %>

</div>
