<div class="center">

<h2>Was the conviction first degree murder?</h2>



<%= link_to("No", q6_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Yes", noteligible_path, :method => "get", :class => "btn btn-large") %>

</div>