<div class="center">

<h2>Was the conviction a felony sex offense?</h2>


<%= link_to("No", q7_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Yes", noteligible_path, :method => "get", :class => "btn btn-large") %>

</div>