<div class="center">

<h2><%= I18n.t("questions.q7.do_you_have_any_adult_convictions", :default => "Do you have any adult convictions?") %></h2>


<%= link_to("No", q8_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Yes", noteligible_path, :method => "get", :class => "btn btn-large") %>

</div>
