<div class="center">

<h2>Do you have any adult convictions?</h2>


<%= link_to("No", q8_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Yes", noteligible_path, :method => "get", :class => "btn btn-large") %>

</div>