<div class="center">

<h2>How old are you?</h2>



<%= link_to("21 & older", q9_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("under 21", notyet2_path, :method => "get", :class => "btn btn-large") %>


</div>