<div class="center">

<h2><%= I18n.t("questions.q9.has_it_been_at_least_5_years_since_your_case_ended_including_any_probation_or_commitment_to_department_of_corrections", :default => "Has it been at least 5 years since your case ended, including any probation or commitment to Department of Corrections?") %></h2>



<%= link_to("No", notyet3_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Yes", eligible3_path, :method => "get", :class => "btn btn-large") %>


</div>
