<div class="center">

<h2>Has it been at least 5 years since the case ended, including any probation or commitment to Department of Corrections?</h2>

<button class="btn btn-default btn-large"><%= link_to "No", :action => "notyet3" %></button>
<button class="btn btn-default btn-large"><%= link_to "Yes", :action => "eligible3" %></button>

</div>