<div class="center">

<h2>After you were arrested, did you see a judge in court?</h2>
<p>Note: the expungement process is per case - if you have multiple arrests or court cases, each case must be considered separately.</p>

<a href="/q2" class="btn btn-success">No</a>
<a href="/qb" class="btn btn-success">Yes</a>
<br><br><a href="/notsure" class="btn btn-default">I'm not sure</a>

</div>