<div class="center">

<h2>Was your case dismissed (thrown out)?</h2>
<br>

<%= link_to("No", qtrial_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Yes", q2_path, :method => "get", :class => "btn btn-large") %>
<br><br>
<%= link_to("I'm not sure", notsure_path, :method => "get", :class => "btn btn-large") %>

</div>