<div class="center">

<h2>Was your case dismissed (thrown out)?</h2>
<br>

<a href="/q2" class="btn btn-success">Yes</a>
<a href="/qtrial" class="btn btn-success">No</a>
<br><br><a href="/notsure" class="btn btn-default">I'm not sure</a>

</div>