<div class="center">

<h2>What happened in your case?</h2>


<a href="/q2" class="btn btn-success">Found not guilty</a>
<a href="/qd" class="btn btn-success">Got supervision</a>
<a href="/q3" class="btn btn-success">Found or pleaded guilty</a>
<br><br><a href="/notsure" class="btn btn-default">I'm not sure</a>

<br><br>
<h4>If you had probation or spent time in the Department of Juvenile Justice, you were found guilty of something. If you spent time in the Juvenile Temporary Detention Center (Audy Home), you were not necessarily found guilty of anything.</h4>

</div>