<div class="center">

<h2>Has the supervision been completed satisfactorily?</h2>


<%= link_to("No", notyet4_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Yes", q2_path, :method => "get", :class => "btn btn-large") %>
<br><br>
<%= link_to("I'm not sure", notsure_path, :method => "get", :class => "btn btn-large") %>

</div>