<div class="center">

<h2>Has the supervision been completed satisfactorily?</h2>


<a href="/q2" class="btn btn-success">Yes</a>
<a href="/notyet4" class="btn btn-success">No</a>
<br><br><a href="/notsure" class="btn btn-default">I'm not sure</a>

</div>