<div class="center">

<h2>Are you currently on probation or on parole for an open juvenile case?</h2>


<%= link_to("No", eligible1_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Yes", opencase_path, :method => "get", :class => "btn btn-large") %>
<br><br>
<%= link_to("I'm not sure", notsure_path, :method => "get", :class => "btn btn-large") %>


</div>
