<div class="center">

<h2>Do you have any open juvenile cases right now (including probation, supervision, or parole)?</h2>

<a href="/eligible1" class="btn btn-success">No</a>
<a href="/opencase" class="btn btn-success">Yes</a>
<br><br><a href="/notsure" class="btn btn-default">I'm not sure</a>

</div>
