<div class="center">

<h2>Were you tried as an adult? Some juveniles cases can be tried in adult court if they are serious.</h2>
<br>

<a href="/qc" class="btn btn-success">No</a>
<a href="/notjuv" class="btn btn-danger">Yes</a>
<br><br><a href="/notsure" class="btn btn-default">I'm not sure</a>

</div>