<div class="center">

<h2>Were you tried as an adult? Some juveniles cases can be tried in adult court if they are serious.</h2>
<br>

<%= link_to("No", qc_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Yes", notjuv_path, :method => "get", :class => "btn btn-large") %>
<br><br>
<%= link_to("I'm not sure", notsure_path, :method => "get", :class => "btn btn-large") %>

</div>