<div class="page-header">
  <h2>How to apply for juvenile expungement in Illinois</h2>
</div>

<p>To expunge your juvenile record, you need to fill out a form - the <a href="http://www.illinois.gov/osad/Expungement/Instructions_Forms/Documents/Forms_/ExpungementJuvOption1Form.pdf" target="blank">Petition to Expunge Juvenile Arrest Record</a> - and submit it to the court Clerk's Office.</p><br>

<h3>
	If you were arrested in Cook County (including Chicago):
</h3>

<p>The Juvenile Expungement Help Desk can help you fill out your papers. The help desk is located at the Cook County Juvenile Center at 1100 S. Hamilton in Chicago, and can be reached at 312-229-6359. This is a free service & there are lawyers who are eager to help you!</p>


<h3>
	If you were arrested outside of Cook County:
</h3>

<p>To get help filling out your papers, search for your zip code <a href="http://www.illinoislegalaid.org/index.cfm?fuseaction=home.dsp_content&contentID=7064#a=legalhelp">here</a> and contact the appropriate legal aid organization!</p>