<div class="page-header">
  <h2>How to apply for juvenile expungement in Illinois</h2>
</div>

<p>To expunge your juvenile record, you need to submit <a href="http://www.illinois.gov/osad/Expungement/Instructions_Forms/Documents/Forms_/ExpungementJuvOption1Form.pdf" target="blank">some forms</a> to the court Clerk's office:
    <ol>
        <li>a Petition to Expunge Juvenile Arrest Record</li>
        <li>a Notice</li>
        <li>an Order of Expungement</li>
    </ol>Next, you'll need to submit the forms to the court Clerk's office in the county where your arrest happened.</p><br>

<h3>
  If you were arrested in Cook County (including Chicago):
</h3>

<p>The <a href="https://www.facebook.com/JuvenileExpungementHelpDesk">Juvenile Expungement Help Desk</a> can help you fill out your papers. The help desk is located on the first floor of the Cook County Juvenile Center at 1100 S. Hamilton in Chicago. You can come in during the open hours: Mondays 9am-4pm, Tuesdays 9am-4pm, Thursdays 9am-noon. <b>You must bring your arrest information (rap sheet or arrest date & charge for each arrest) in order to get help!</b> If you have any questions, call the Juvenile Expungement Help Desk at 312-229-6359. This is a free service & the lawyers there are eager to help you!</p>


<h3>
  If you were arrested outside of Cook County:
</h3>

<p>
  You can use <a href="https://www.lawhelpinteractive.org/login_form?template_id=template.2012-12-18.6714253555&set_language=en">this free online form preparation program</a> to make and print customized forms or download <a href="https://www.lawhelpinteractive.org/login_form?template_id=template.2012-12-18.6714253555&set_language=en">these blank forms</a> for use in any county in Illinois. To get help filling out your papers, search for your zip code <a href="http://www.illinoislegalaid.org/index.cfm?fuseaction=home.dsp_content&contentID=7064#a=legalhelp">here</a> and contact the appropriate legal aid organization!</p>
