<div class="page-header">
  <h2>How to get your arrest information</h2>
</div>

<p>In order to apply for juvenile expungement, you will need your arrest information.</p><br>

<h3>
	If you were arrested in Chicago:
</h3>

<p>You can pick up your arrest record <strong>for free</strong> in person at:<br><br>Records and Services Division of the Chicago Police Department<br>
3510 S Michigan, Chicago IL 60653<br>(312)745-5508<br>Mon-Fri 8am-12pm</p>

<br>

<h3>
	If you were arrested outside of Chicago:
</h3>

<p>You will need to get two pieces of information from the police department that arrested you: (1) the date of arrest and (2) the arrest charge. Call the police department where you were arrested, and ask how you can get this information.<br><br>If a police department tells you it cannot give you this information, contact the Juvenile Expungement Help Desk at 312-229-6359.</p>
