<div class="center">

<h2>When were you arrested?</h2>

<a href="/juvrecord" class="btn btn-success">2014</a>
<a href="/maybejuv" class="btn btn-success">2010-2013</a>
<a href="/notjuv" class="btn btn-danger">2009 & earlier</a><br><br>
<a href="/notsure" class="btn btn-default">I'm not sure</a>

</div>