<div class="center">

<h2>When were you arrested?</h2>


<%= link_to("2014", juvrecord_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("2010-2013", adultorjuv_path, :method => "get", :class => "btn btn-large") %>
<%= link_to("2009 & earlier", adultrecord_path, :method => "get", :class => "btn btn-large") %>
<br><br>
<%= link_to("I'm not sure", notsure_path, :method => "get", :class => "btn btn-large") %>

</div>