/*
 *= require_tree .
 *= require_self
 */


/* General */
html{
  min-height: 100%;
  position: relative;
}
#content {
   clear: both;
   min-height: 500px;
}

p{
  font-size: 18px;
}

.brand {
  background: image-url('logo.png') 0 0 no-repeat;
  width: 137px;
  height: 41px;
  margin: 10px 10px 0 20px;
  text-indent: -999999px;
}

.align-bottom{
  position: absolute;
  bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #C8F7C5;
  font-size: 20px;
  display: block;
}
.footer a{
  font-size: 1.4em;
}

.small p{
  font-size: 14px;
}


/* home page styling */
#action-steps .well{
  height: 160px;
}

/*light teal was #DAEDE5, light blue #B6E3E3, lighter blue azure, greenish #A4DBC2*/
