// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {
	margin-bottom: 20px;

	h3 {
		margin-bottom: 0;
	}
}

.eligibility {
	margin: 40px 0;
}

#FAQq{
	color: #E38809;
	font-weight: bold;
}