// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
background: #C8E2E8; 
margin-top: 60px;

}


head{margin-bottom: 60px;}

.center{
	text-align:center;
}

#q{
	font-size: 18px;
}