// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
background: #DAEDE5; 

}


head{margin-bottom: 60px;}

.center{
	text-align:center;
}

#q{
	font-size: 18px;
}

#FAQq{
	color: #E38809;
	font-weight: bold;
}

// the salmon color was D97A55
.topbar{
	background: #48BDAD;
}

.topbar .nav > li > a{
	text-shadow: none;
	color: #EBE6DA;
}