---
layout: default_es
---

<div class='row'>
  <div class='col-sm-12'>

    <h2>{{page.question}}</h2>

    {{content}}

    <br>

    <a href="{{ site.baseurl }}/{{page.ans1_next}}.html" class="btn btn-{% if page.ans1_color %}{{page.ans1_color}}{% else %}success{% endif %}">
      {{page.ans1_val}}
    </a>

    <a href="{{ site.baseurl }}/{{page.ans2_next}}.html" class="btn btn-{% if page.ans2_color %}{{page.ans2_color}}{% else %}success{% endif %}">
      {{page.ans2_val}}
    </a>

    {% if page.ans3_val %}
      <a href="{{ site.baseurl }}/{{page.ans3_next}}.html" class="btn btn-{% if page.ans3_color %}{{page.ans3_color}}{% else %}success{% endif %}">
        {{page.ans3_val}}
      </a>
    {% endif %}

    {% if page.notsure_option %}
      <br><br>
      <a href="{{ site.baseurl }}/results/notsure.html" class="btn btn-default">I'm not sure</a>
    {% endif %}

  </div>
  
</div>